* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: block;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: start;
}

form input {
  display: flex;
  margin: 15px;
}
